* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.row {
    margin: 50px 0 !important;
}
.col-4{
    margin-top: 40px 0 !important;
}

.card {
    border-radius: 15px !important;
    border: none !important;
    height: 480px;
    margin-top: 40px;
}
.card__imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card__img {
    border-radius: 15px !important;
    width: 100%;
    height: 280px;
    z-index: 2;
    object-fit: cover;
    transition: filter .2s ease-in-out
}
.card__img:hover{
   filter: grayscale(1)
}
.card__img-shape {
    width: 110px;
    height: 110px;
    background-color: #0a58ca;
    position: absolute;
    bottom: -10px;
    transform: rotate(45deg);
    z-index: 1;
    border-radius: 5px;
}
.card__title {
    margin: 40px 0 30px 0;
}
.card__btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    margin: 0 37px;
}
.card__play-btn{
    width: 50%;
}
.btn{
    font-weight: 600 !important;
}
.volume-range{
    width: 50%;
    text-align: end;
}
@media (max-width: 360px){
    .card{
        height: 400px;
    }
    .card__img{
        height: 220px;
    }
    .card__btns{
        flex-direction: column !important;
    }
    .card__title{
        margin: 30px 0 12px 0;
    }
    .card__play-btn{
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
    }
    .volume-range{
        width: 100%;
        text-align: center;
    }
    .row{
     --bs-gutter-x: 0;
    }
}